.estoque {
    padding: 20px;
    background: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.estoque p {
    font-size: 1.2em;
    color: #333;
    margin-bottom: 10px;
}

.estoque input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
    margin-right: 10px;
}

.estoque button {
    background-color: #4caf50; /* verde claro */
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 15px;
    font-size: 1em;
    cursor: pointer;
    transition: background 0.3s;
}

.estoque button:hover {
    background-color: #45a049; /* verde escuro */
}
